<!-- <p>user-profile works!</p> -->
<!-- <h1>Input Value -{{inputval}}</h1>

<input type="text"  [(ngModel)]="inputval"> -->

<!-- Here appHighlight is a custom directive  -->
<!-- <h1 appHighlight>
    Name  {{name | uppercase}} ,
    status {{isSingle? "single": "coder" }} and 
    salary  {{salary | currency}}

</h1> -->

<h1 #myheading>
    Name  {{name | uppercase}} ,
    status {{isSingle? "single": "coder" }} and 
    salary  {{salary | currency}}
 
</h1>

<button (click)="sendData()">Send Data</button>